header{
    display: flex;
    justify-content: space-between;
    padding-block: 32px;
    height: 240px;
    align-items: center;
}

#profile{
    display: flex;
    gap: 32px;
}

#profile img{
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile > div{
    max-width: 384px;
}

#profile > div h1{
    font: var(--text-heading);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#profile > div p{
    font: var(--text-md);
}

#info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: left;
    width: 280px;
    list-style: none;
}

#info img{
    width: 24px;
    height: 24px;
}

#info li{
    display: flex;
    align-items: center;
    gap: 8px;
}