#photo-gallery{
    padding-block: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

#photo-gallery img{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: .3s;
}

#photo-gallery img:hover{
    transform: translateY(-2.5px);
}