nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 20px;
    line-height: 0
}

.nav-surface-color{
    background-color: var(--surface-color);
}

nav a{
    padding: 4px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

nav ul li:last-child img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav ul li img:first-child{
    cursor: pointer;
}

.search-input-container{
    width: 250px;
    overflow: hidden;
    /* display: flex;
    align-items: right; */
    text-align: right;
    
    box-shadow: 0 5px 15px rgba(0,0,0,0.025);
}

.search-input-content input{
    font: var(--text-secondary);
    color: var(--text-color-primary);
    padding: 5px 15px;
    width: 80%;
    outline: none;
    border: none;
    background-color: #ffffffa2;
    border-radius: 50px;
    transition: .3s;
}

.search-input-content input:hover{
    width: 81%;
}

.search-input-content input:focus{
    background-color: #fff;
    width: 100%;
}

.search-input-content input::placeholder{
    font-size: 14px;
}